.nav-icon{
float:right; 
padding:30px; 
text-decoration:none; 
color:#660033; 
font-size:20px;
}


.foot{
background-color:#660033; 
color:white; 
text-align:center; 
padding:10px;
}

.fields{
padding:8px; 
width:250px; 
color:#660033;
}

select{
padding:8px; 
width:270px; 
color:grey;
}

textarea{
padding:8px; 
width:250px; 
color:#660033;
}

.get_in_touch{
text-align:center; 
color:#660033;
}

.btn{
background-color:#660033; 
font-weight:bold; 
font-size:15px; 
color:white; 
padding:8px; 
width:230px; 
border-radius:15px;
}