.nav-icon{
float:right; 
padding:30px; 
text-decoration:none; 
color:#660033; 
font-size:20px;
}

.para{
text-align:justify; 
font-size:17px; 
padding:20px;
}

.btn{
background-color:#660033; 
color:white; 
font-size:14px; 
padding:10px;
}

.foot{
background-color:#660033; 
color:white; 
text-align:center; 
padding:10px;
}

.heads{
color:#660033;
}

.td1{
padding:30px; 
background-color:#ffb3d9;
}

.sub{
text-align:center; 
font-size:20px;
}