.nav-icon{
float:right; 
padding:30px; 
text-decoration:none; 
color:#660033; 
font-size:20px;
}

.form-cls{
background-color:#660033; 
width:400px; 
padding:10px; 
border-radius:20px;
}

.main-heading{
 background-color:#660033; 
color:white; 
padding:10px;
}

.field{
padding:8px; 
width:300px; 
color:#660033; 
border-radius:5px;
}

.rememberme{
color:white;
}

.forgetpass{
color:#4d4dff;
}

#btn{
background-color:white; 
font-weight:bold; 
font-size:15px; 
color:#660033; 
padding:8px; 
width:230px; 
border-radius:15px;
}

.not-member{
color:white;
}

.register{
color:#4d4dff;
}

.foot{
background-color:#660033; 
color:white; 
text-align:center; 
padding:10px;
}